package {{{context.package}}};

public class Actionwords extends com.hiptestratum.hiptest.AbstractActionwords {{#curly}}{{#indent}}
{{#each rendered_children.actionwords}}
{{{this}}}
{{/each}}
{{/indent}}
{{/curly}}