@Test
public void test{{{ camelize scenario_name}}}{{{ camelize rendered_children.name}}}{{#if rendered_children.uid}}Uid{{{ normalize rendered_children.uid}}}{{/if}}() throws Exception {{#curly}}
{{#indent}}{{{ camelize_lower scenario_name }}}({{{ join rendered_children.arguments ', '}}});{{/indent}}
{{/curly}}