package {{{ context.package }}};

import {{{context.package}}}.Actionwords;
import org.junit.Test;

public class {{{ clear_extension context.filename }}} {{#curly}}
{{#indent}}
public Actionwords {{{ context.call_prefix }}} = new Actionwords();
{{#each rendered_children.scenarios}}{{{this}}}
{{/each}}
{{/indent}}
{{/curly}}